/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color, #000);
}

.button:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover:before {
  transform: scaleX(1);
}

.card__icon-button {
  display: flex;
  border: none;
  background-color: inherit;
  align-self: center;
  padding: 0;
  cursor: pointer;
  outline-offset: -2px;
  outline: 2px solid transparent;
  transition: outline 0.3s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color, #000);
  outline-offset: -2px;
}

.like-icon .sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-color, #F00);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-color, #F00);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core{
  transition: fill 0.3s linear;
  fill: var(--animation-color, #F00);
}

.like-icon.is-liked .main-body{
  transition: fill 0.3s linear 0.05s;
  fill: var(--animation-color, #F00);
}

.like-icon.is-liked .contour{
  transition: fill 0.3s linear 0.06s;
  fill: var(--animation-color, #F00);
}

.like-icon.is-liked {
  .sparks {
    animation: fadeIn 0.3s ease-in 0.3s;
    transform-origin: center;
  }
}

.like-icon.is-liked {
  .heart {
    animation: increase 0.3s ease-in 0.1s;
    transform-origin: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes increase {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}