/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" 400;
  background-attachment: fixed;
  background-size: cover;
  background-image: repeating-linear-gradient(
    90deg,
    #d3d3d3 0 2px,
    rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(
    180deg,
    #d3d3d3 0 2px,
    rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(
    #e7e7e7 0%,
    #e7e7e7 0.01%,
    #1a1a1a );
}

.header {
  max-inline-size: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0
    clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  border: 2px solid #000;
  margin: 102px auto;
}

.header__logo {
  font-size: var(--logo-font-size);
}

.header__description {
  font-size: var(--add-logo-font-size);
  text-transform: uppercase;
}

.cards {
  max-inline-size: 700px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

.card {
  border: 2px solid #000;
}

.card__title {
  border-bottom: 2px solid #000;
  font-variation-settings: "wght" 700;
  font-size: 18px;
  padding-inline: 10px;
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
}

.label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 100%;
  -webkit-text-stroke: 1px #ddcaca;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 0.5);
}

@supports ((-webkit-text-stroke: 1px #fff)) {
  .label {
    -webkit-text-stroke: 1px #fff;
  }
}

.card__description {
  padding: 25px;
  border-top: 2px solid #000;
}

.card__description p:first-child {
  margin-block-end: 27px;
}

.brightness {
  filter: brightness(60%);
}

.blur {
  filter: blur(0.2rem);
}

.grayscale {
  filter: grayscale(0.8);
}

.sepia {
  filter: sepia(80%);
}

.invert {
  filter: invert(1);
}

.saturate {
  filter: saturate(160%);
}

.contrast {
  filter: contrast(130%);
}

.mix {
  filter: brightness(60%) grayscale(0.8) brightness(70%);
}
